<div class="container-navbar">
    <div class="container">
        <div class="img-container">
            <img src="../../../assets/home-logo.webp" class="logo-image" alt="">
        </div>
        <div class="main-actions">
            <button class="nav-buttons">HOME</button>
            <button class="nav-buttons">PROFILES</button>
            <button class="nav-buttons">CLIPS</button>
            <button class="nav-buttons">PIX</button>
            <button class="nav-buttons">TUNES</button>
            <button class="nav-buttons">REGISTER</button>
            <button class="nav-buttons">LOG IN</button>
            <div class="search-bar">
                <button class="search-button">SEARCH</button>
                <div>
                    <input type="text" class="input-field">
                    <button class="go-button">GO</button>
                </div>
            </div>
        </div>
    </div>
</div>
