<div class="image-container">
  <div class="overlay"></div>
  <div class="hero-program">
    <p class="title">The Slap</p>
    <br>
    <br>
    <p class="title">See what's new in Hollywood arts </p>
    <br>
    <p class="title">and add your own update </p>
    <button class="new-button" *ngIf="islogged" data-bs-toggle="collapse" data-bs-target="#postSomething"
      aria-expanded="false" aria-controls="postSomething">Add update</button>
    <button class="new-button" *ngIf="!islogged" [routerLink]="['/sign-in']">Login</button>
  </div>
</div>
