<div>
    <div class="image-container">
        <div class="overlay"></div>
        <img src="../../../assets/hero-banner-img.jpeg" class="image"  alt="">
        <div class="hero-program">
            <p class="title">The Slap</p>
            <br>
            <br>
            <p class="title">See what's new in Hollywood arts </p>
                <br> 
                <p class="title">and add your own update </p>
                <button class="new-button">Add update</button>
        </div>
    </div>
    
</div>

