<div class="collapse" id="postSomething">
  <div class="anotherDiv">
    <div class="collapseContent">
      <div class="profileImage">
        <div class="image-container">
          <img class="picture" src="{{ currentUserData.image }}" alt="">
        </div>
        <div class="update">UPDATE</div>
      </div>
      <div class="post">
        <div class="nombre">{{ currentUserData.name + " " + currentUserData.lastName }}
        </div>
        <textarea rows="50" cols="10" class="status" placeholder="How r u feelin'?"></textarea>
        <div class="feelingContent">
          <div class="feeling">Feeling:</div>
          <ngx-emoji style="margin-left: auto;" [emoji]="emojiSelected" (emojiClick)="handleShowEmojis()" [size]="32">
          </ngx-emoji>
          <button class="emoji" (click)="handleShowEmojis()">Publish</button>
        </div>
        <input type="text" placeholder="FEELING" class="feelingInput">
      </div>
    </div>
    <emoji-mart class="emoji-mart" *ngIf="showEmojis" (emojiClick)="handleEmojiSelect($event)" title="Pick your emoji…"
      [darkMode]="true" [virtualize]="true" [perLine]="20" [showSingleCategory]="true" [showPreview]="false">
    </emoji-mart>
  </div>
</div>
