<div class="collapse" id="postSomething">
  <div class="anotherDiv">
    <div class="collapseContent">
      <div class="profileImage">
        <div class="image-container">
          <img class="picture"
            src="https://static.wikia.nocookie.net/victorious/images/b/b4/PearPhone-horizontal.png/revision/latest/scale-to-width-down/1200?cb=20110825192536"
            alt="">
        </div>
        <div class="update">UPDATE</div>
      </div>
      <div class="post">
        <div class="nombre">Nombre</div>
        <textarea rows="50" cols="10" class="status" placeholder="How r u feelin'?"></textarea>
        <div class="feelingContent">
          <div class="feeling">Feeling:</div>
          <ngx-emoji [emoji]="emojiSelected" (emojiClick)="handleShowEmojis()" [size]="32"></ngx-emoji>
        </div>
        <input type="text" placeholder="FEELING" class="feelingInput">
      </div>
    </div>
    <emoji-mart class="emoji-mart" *ngIf="showEmojis" (emojiClick)="handleEmojiSelect($event)" title="Pick your emoji…"
      [darkMode]="true" [virtualize]="true" [perLine]="20" [showSingleCategory]="true" [showPreview]="false">
    </emoji-mart>
  </div>
</div>
