<div class="section-container">
  <div class="title">The <span>New Stuff</span></div>
  <div class="post-container">
    <div class="post-info">
      <div class="publication" *ngFor="let post of userPosts">
        <div class="postPicture">
          <img class="image" src="{{ giveMeUser(post.user)?.image }}" alt="">
        </div>
        <div class="arrow"></div>
        <div class="postContainer">
          <div class="postInfo">
            <h2 class="name">
              {{ giveMeUser(post.user)?.name + " " + giveMeUser(post.user)?.last_name }}
            </h2>
          </div>
          <p>{{ post.body }}</p>
        </div>
        <div class="mood">
          <p class="feeling">Mood</p>
          <ngx-emoji class="emoji" emoji="{{ post.emoji.id }}" [size]="64">

          </ngx-emoji>
          <p class="feeling">
            {{ post.feeling }}
          </p>
        </div>
      </div>
    </div>

  </div>

</div>
