<div class="section-container"> 
    <div class="post-container">
        <h1 class="section-title">The New Stuff</h1>
        <div class="post-info">
            <div class="frame">
                <iframe  width="500px" height="300px" src="https://www.youtube.com/embed/2ps7pKBv6WY?autoplay=1&mute=1" frameborder="0"></iframe>
            </div>
            <div class="text-post">
                <h2>Brand new video</h2>
                <p>Lorem ipsum dolor, 
                    sit amet consectetur adipisicing elit.
                     Placeat sunt voluptatem corporis! 
                     Fuga omnis doloremque distinctio! 
                     Sint voluptatibus exercitationem 
                     reprehenderit, minus explicabo r
                </p>
                <p>See it now</p>
            </div>
            
        </div>
        <div class="section-header">
            <div class="change-buttons-container">
                <button class="change-buttons"><</button>
                <button class="change-buttons">></button>
            </div>
        </div>
        
    </div>
    
</div>
