<div class="section-container">
  <div class="profile-info">
    <div class="imgContainer">
      <img class="image" src="{{ profileUserData.image }}" alt="">
    </div>
    <h2 class="name">{{ profileUserData.name + " " + profileUserData.lastName }}</h2>
    <br>
    <button class="follow" (click)="followUser(profileUser)">Follow</button>
    <button class="follow" *ngIf="profileUserData.email != currentUser && !isFollowing(profileUser)"
      (click)="followUser(profileUser)">Follow</button>
    <button class="unfollow" *ngIf="profileUserData.email != currentUser && isFollowing(profileUser)"
      (click)="unfollowUser(profileUser)">Unfollow</button>
  </div>
  <div class="publications-section">
    <div class="publication" *ngFor="let post of userPosts">
      <div class="trash" (click)="deletePost(post)"><img src="assets/trash.svg" alt="">
      </div>
      <div class="arrow"></div>
      <div class="postContainer">
        <div class="postInfo">
          <div class="postPicture">
            <img class="image" src="{{ profileUserData.image }}" alt="">
          </div>
          <h2 class="name">
            {{ profileUserData.name + " " + profileUserData.lastName }}
          </h2>
        </div>
        <p>{{ post.body }}</p>
      </div>
      <div class="mood">
        <p class="feeling">Mood</p>
        <ngx-emoji class="emoji" emoji="{{ post.emoji.id }}" [size]="64">

        </ngx-emoji>
        <p class="feeling">
          {{ post.feeling }}
        </p>
      </div>
    </div>
  </div>

</div>
