.section-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
}

.profile-info {
    width: 25%;
    height: auto;
    border-radius: 15px;
    border: 3px solid #DD1166;
    text-align: center;
    background: linear-gradient(180deg, rgb(216, 229, 236), rgb(167, 216, 240));
    margin: 20px 5% auto 5%;
}

.postContainer {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.imgContainer {
    margin: 10px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #DD1166;
    overflow: hidden;
}

.postPicture {
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.name {
    font-weight: bold;
    color: rgb(37, 32, 163);
    margin: 5px 0px 0px 5px;
    font-size: larger;
    text-transform: uppercase;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.button {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    font-size: large;
    background-color: #5E239D;
    color: white;
    border: none;
}

.follow {
    width: 150px;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: auto;
    outline: none;
    border-radius: 50px;
    margin-left: auto;
    background-color: orange;
    color: white;
    border: none;
    transition: ease-in-out 200ms;
    margin-bottom: 10px;
}

.follow:hover {
    background-color: mediumseagreen;
    scale: 1.05;
}

.unfollow {
    width: 150px;
    height: 50px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: auto;
    outline: none;
    border-radius: 50px;
    margin-left: auto;
    background-color: indianred;
    color: white;
    border: none;
    transition: ease-in-out 200ms;
    margin-bottom: 10px;
}

.unfollow:hover {
    background-color: red;
    scale: 1.05;
}

.publications-section {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
}

.publication {
    background: linear-gradient(180deg, rgb(216, 229, 236), rgb(167, 216, 240));
    border: 3px solid #DD1166;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    position: relative;
}

.postInfo {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: flex-start;
}

.feeling {
    background-color: transparent;
    font-size: smaller;
    color: rgb(201, 55, 67);
    text-transform: uppercase;
    font-weight: bold;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 10px;
    text-align: center;
}

.mood {
    height: auto;
    width: 15%;
    background-color: white;
    border-radius: 15px;
    border: 3px solid #DD1166;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

p {
    padding: 5px 5px 0px 10px;
}

.emoji {
    margin: auto;
}

.arrow {
    width: 25px;
    height: 25px;
    border-bottom: 3px solid #DD1166;
    border-left: 3px solid #DD1166;
    position: absolute;
    top: 20px;
    left: -13px;
    border-top-right-radius: 100%;
    background-color: rgb(216, 229, 236);
    z-index: 1;
    transform: rotate(45deg);
}

@keyframes shadow-drop-center {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

.trash {
    position: absolute;
    top: 10px;
    right: 10px;
    color: lightsteelblue;
    z-index: 2;
    background-color: rgb(167, 216, 240);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    opacity: 0.5;
    transition: ease-in-out 200ms;
}

.trash:hover {
    opacity: 1;
    scale: 1.02;
}