<div class="section-container">
  <div class="profile-info">
    <div class="imgContainer">
      <img class="image" src="{{ profileUserData.image }}" alt="">
    </div>
    <h2 class="name">{{ profileUserData.name + " " + profileUserData.lastName }}</h2>
    <br>
    <button class="follow" *ngIf="profileUserData.email != currentUser && !isFollowing(profileUser)"
      (click)="followUser(profileUser)">Follow</button>
    <button class="unfollow" *ngIf="profileUserData.email != currentUser && isFollowing(profileUser)"
      (click)="unfollowUser(profileUser)">Unfollow</button>
  </div>
  <div class="publications-section">
    <div class="publication" *ngFor="let post of userPosts">
      <div class="postInfo">
        <div class="postPicture">
          <img class="image" src="{{ profileUserData.image }}" alt="">
        </div>
        <h2 class="name">
          {{ profileUserData.name + " " + profileUserData.lastName }}
        </h2>
      </div>
      <p>{{ post.body }}</p>
      <div class="feeling">Feeling:</div>
      <div class="mood">
        {{ post.feeling }}
        <ngx-emoji class="emoji" emoji="{{ post.emoji.id }}" [size]="24">

        </ngx-emoji>
      </div>
    </div>
  </div>

</div>
