.section-container{
    background-color: #061846;
    width: 300px;
    height: 600px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userinfo{
    background-color: #E1F8FF;
    margin: 20px 20px 0px 20px;
    width: 260px;
    border-radius: 10px 10px 0px 0px;
    height: 140px;
    display: flex;
}

.head-img{
    width: 280px;
    margin: 10px;
}

.user-img{
    width: 100px;
    height: 100px;
    margin: 15px;
    border-radius: 15px;
}

.user-data{
    margin-top: 20px;
}

.date{
    font-size: small;
    margin-bottom: 5px;
}

.username{
    font-size: 20pt;
    color: #061846;
    font-weight: bold;
    margin-bottom: 5px;
}

.update{
    font-size: medium;
    color: #061846;
    font-weight: bold;
}

.post-info{
    background-color: #E1F8FF ;
    margin: 0px 20px 0px 20px;
    width: 260px;
    height: 180px;
}

.post{
    padding: 0px 15px 15px 15px;
}

.mood-container{
    background-color: #E1F8FF ;
    margin: 0px 0px 20px 20px;
    width: 260px;
    border-radius: 0px 0px 10px 10px;
    height: 60px;
    display: flex;
    padding: 0px 15px 15px 15px;
    justify-content: center;
}

.mood-title{
    font-size: larger;
    color: #061846;
    font-weight: bold;
}

.mood{
    font-size: larger;
    color: #AF2E26;
    font-weight: bold;
    margin-left: 10px;
}