<div class="section-container">
  <img src="../../../assets/the-right-now-img.png" class="head-img">
  <div>
    <div class="userinfo">
      <img src="{{ currentUserData.image }}" class="user-img" alt="">
      <div class="user-data">
        <p class="username">{{ currentUserData.name }}'s</p>
        <p class="update">Newest Update:</p>
      </div>
    </div>
    <div class="post-info">
      <p class="post">
        {{ lastPost.body }}
      </p>
    </div>
    <div class="mood-container">
      <p class="mood-title">Mood = </p>
      <p class="mood">{{ lastPost.feeling }}
        <ngx-emoji [emoji]="lastPost.emoji.id"></ngx-emoji>
      </p>
    </div>
  </div>
</div>
