.section-container{
    margin: auto;
    width: 1000px;
}

.profile-info{
    margin: auto;
    width: 300px;
    text-align: center;
}

.image{
    margin-top: 10px;
    width: 150px;
    margin-bottom: 10px;
}

.button{
    width: 150px;
    height: 50px;
    border-radius: 50px;
    font-size: large;
    background-color: #5E239D;
    color: white;
    border: none;
}

.publicactions-section{
    margin: auto;
}

.publication{
    background-color: #a9dcee;
    border: 3px solid #DD1166;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}