<div class="section-container">
    <div class="profile-info">
        <h2>Tori Vega</h2>
        <img  class="image" src="../../../../assets/example-user.jpeg" alt="">
        <br>
        <button class="button">Change pic</button>
    </div>
    <div class="publications-section">
        <div class="publication">
            <h2>Publicacion 1</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum provident dolorem id ipsam autem optio fugit nobis consequuntur harum modi. In voluptas quam explicabo quidem? Voluptas tempora porro fugiat.</p>
        </div>
    </div>

</div>
