.list-container {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 20px auto;
    padding: 20px 0;
}

.profile {
    width: 85%;
    display: flex;
    margin: 10px auto;
    height: auto;
    justify-content: space-between;
    border-radius: 25px;
    color: white;
    background-image: url("https://png.pngtree.com/background/20230617/original/pngtree-dark-background-illuminated-by-neon-soundwave-and-musical-note-rendered-in-picture-image_3700262.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #978095;
}

.content {
    width: 90%;
    display: flex;
}

.userInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.image-container {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: auto;
    object-position: center;
}

.name {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    width: auto;
}

.email {
    font-size: 20px;
    margin-left: 10px;
    font-size: smaller;
    font-style: italic;
    width: auto;
}

.follow {
    width: 30%;
    height: 35px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-left: 10px;
    outline: none;
    border-radius: 50px;
    background-color: orange;
    margin-top: 10px;
    color: white;
    border: none;
    transition: ease-in-out 200ms;
    z-index: 1;
}

.follow:hover {
    background-color: mediumseagreen;
    scale: 1.05;
}

.unfollow {
    width: 30%;
    height: 35px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-left: 10px;
    outline: none;
    border-radius: 50px;
    background-color: indianred;
    margin-top: 10px;
    color: white;
    border: none;
    transition: ease-in-out 200ms;
}

.unfollow:hover {
    background-color: red;
    scale: 1.05;
}