<div class="section-container">
  <div class="form">
    <h1>Log In</h1>
    <form action="">
      <div class="form-container">
        <label class="labels" for="email"><b>Email</b></label>
        <input class="inputs" type="email" name="email" id="email" placeholder="example@email.com" required
          [(ngModel)]="email">
        <label class="labels" for="password"><b>Password</b></label>
        <input class="inputs" type="password" placeholder="Enter Password" name="password" required
          [(ngModel)]="password">
        <button class="login-button" type="submit" (click)="signIn()">Login</button>
        <label class="labels">
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>
      <div class="bottom-container">
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
  </div>

</div>
