<div class="section-container">
    <div class="profiles-list">
        <div class="options">
            <img class="image" src="../../../assets/example-user.jpeg" alt="">
            <button class="option-button">
                <p>Name 1</p>
            </button>
        </div>
        <div class="options">
            <img class="image" src="../../../assets/example-user.jpeg" alt="">
            <button class="option-button">
                <p>Name 2</p>
            </button>
        </div>
        <div class="options">
            <img class="image" src="../../../assets/example-user.jpeg" alt="">
            <button class="option-button">
                <p>Name 3</p>
            </button>
        </div>
        <div class="options">
            <img class="image" src="../../../assets/example-user.jpeg" alt="">
            <button class="option-button">
                <p>Name 4</p>
            </button>
        </div>
        <div class="options">
            <img class="image" src="../../../assets/example-user.jpeg" alt="">
            <button class="option-button">
                <p>Name 5</p>
            </button>
        </div>
        <div class="options">
            <img class="image" src="../../../assets/example-user.jpeg" alt="">
            <button class="option-button">
                <p>Name 6</p>
            </button>
        </div>
    </div>    
</div>
